<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.palmyro.treino_facil">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
   <application
        android:label="Treino Fácil"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7831186229252322~9095625736"/>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.publicKey"
            android:value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiQ/BI87c5Mh2TQ3WVhX2topfoDZ+V6jOIgU2RnrFLvEN7ubo9aYydxmKfmvm/WBGL6DWh6ujRewkQWTKCT9GYXseniUSJWnd6/pdgKhObgI3spBgf2dPBwl3yRPFilGOBQEOzv9kYJvU8wjUEOvs+zCBZfp3Qj1mCYMwBxCSkb62dQnrUodHNYdc1ETixsC7sLSnFDfhZUHXhKvVVqgGXy8Pq71ztTCwyW/+y+b3yKcye6O1Qyd1giKi2lkDfnRywNla4lt1E+6i4iyU3TYtr60wZyHGB+ruJpz97/6eSvIijsyJG+EOVMg9a5EckFoTwx+mhFEWQA8bJRVDaxIgLwIDAQAB"/>

    </application>
</manifest>
